/* MOBILE STYLNG */
@media screen and (max-width: 667px) {
	.custom_logo {
		width: 100%;
		margin: 0 20px;
	}
	.custom_logo img {
		padding-left: 18px;
	}
	#content {
		padding: 10px;
	}
	.blog #content {
		padding: 30px;
	}
	#main_cnt {
		width: 100%;
		height: auto;
	}

	#logo_cnt {
		width: 50%;
		height: 80px;
		background-size: 100%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	#headertext_cnt {
		font-size: 24px;
		width: 80%;
		height: auto;
		margin: 0 auto;
		text-align: center;
	}

	#countdown_cnt {
		margin-top: 20px;
		height: auto;
	}

	#clockdiv {
		font-size: 14px;
	}

	#second_left_cnt,
	#second_right_cnt {
		width: 100%;
		float: left;
		box-sizing: border-box;
	}

	.circle_text {
		font-size: 16px;
		line-height: 30px;
	}

	#news_main_cnt {
		width: 100%;
		padding: 30px;
		box-sizing: border-box;
	}
	.news_cnt {
		width: 100%;
		margin: 15px 0;
	}

	.blog .hentry {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.blog .hentry header {
		height: auto;
	}
	.blog .wp-post-image {
		margin: 0;
	}
	.index-header {
		width: 100%;
		padding: 0 30px;
	}
	.video_section {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
		margin: 0 auto;
		display: block;
	}
	.galleri {
		width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
	}
	.entry-content {
		min-height: 1px;
		overflow: hidden;
	}
	.page-id-81 #content,
	.page-id-33 #content {
		padding: 30px;
	}
}

	/*RAV CERTIFIKAT*/
	#certifikat_second_cnt {
		height: 300px;
	}

	#byg_text {
		max-width: 667px;
	}

	#byg_cnt {
		display: none;
	}

	#byg_cnt_mobile {
		width: 607px;
		height: 159px;
		background-image: url('images/kaesemobile.png');
		display: block;
		margin: 0 auto;
	}

	#third_cnt {
		padding: 0 30px;
	}

	#third_text {
		width: 100%;
		float: left;
	}

	.picture_cnt {
		padding: 0 30px;
	}

	#smykke_cnt {
		max-width: 667px;
	}

	#smykke {
		width: 667px;
		height: 208px;
		background-size: cover;
	}
	#ravsmykkeglow {
		left: 274px;
		top: -190px;
	}

}
